/*---------------------
  ChoseUs Section
-----------------------*/

.choseus-section {
    background: $secondary-color;
    padding-bottom: 70px;
    font-family:"Graduate";
    padding : 2em;
}

.cs-item {
    text-align: center;
    margin-bottom: 30px;
}

.cs-item:hover span {
    background: $primary-color;
    color: #ffffff;
}

.cs-item span {
    height: 90px;
    width: 90px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: inline-block;
    color: #f36100;
    line-height: 90px;
    text-align: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.cs-item h4 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 16px;
}

.section-title {
    margin-bottom: 45px;
    text-align: center;
}

.section-title span {
    font-size: 25px;
    color: #f36100;
    text-transform: uppercase;
    font-weight: 700;
}

.section-title h2 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 8px;
}

/*---------------------
      President
-----------------------*/

.president_section {
    font-size: 18px;
    color: #444;
    background: #2a5781;
    font-family:"Graduate";
    padding : 3em;
}

.quote-card {
    width: 100%;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    border-style : outset;
    box-shadow: 0 6px 18px 2px rgba(0,0,0,.3);
}

.quote-marks {
    position: absolute;
    padding-left: 5px;
    font-size: 8em;
    font-family: Times,serif;
    color: #DEE4E5;
    line-height: 1;
    bottom: 10px;
    right: 15px;
    opacity: 0.6;
}

.quote {
    width: 100%;
    padding: 1.5em;
    line-height: 1.6;
    border-radius: 5px 5px 0 0;
    background-color: #F2F4F5;
}

.quote-text {
    position: relative;
    color: #8994a1;
}

.quote-profile {
    padding: 15px;
    display: table;
}

.quote-author-name {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;
    font-weight: 600;
    color: #8994a1;
}

.quote-author-info {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
}

.quote-author-image {
    padding-left: 1em;
}

.quote-author-image img {
    height: 100px;
    border-radius: 50%;
}

// Président Photo
@media only screen and (max-width : 500px) {
    .quote-author-image{
        display:none;
    }
}

/*---------------------
      Trainers
-----------------------*/

.trainer-area {
    background-color: white;
    font-family:"Graduate";
    padding : 2em;

    h1 {
        color : $primary-color;

    }

    .single-trainer {
        padding: 10px;
  }

    .thumb {
        position: relative;
  }

    .thumb div {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($primary-color, .8);
        color: #fff;
        opacity: 0;
        transition: opacity 0.5s;

        i {
            color: #fff;
            font-size: 20px;
            padding: 10px;
            z-index: 2;
    }
  }

    .thumb img {
        display: block;
        width: 100%;
  }

    .thumb div span {
        display: block;
        position: absolute;
        bottom: 30px;
        left: 20px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 3px;
  }

    .thumb div p {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 20px;
        font-weight: 100;
        @media(max-width: 768px) {
            bottom: -15px;
    }
  }

    .thumb a i {
        color: rgba(#fff, .3);
        @include transition();

        &:hover {
            color: white;
    }
  }

    .thumb:hover div {
        opacity: 1;
        cursor: pointer;
  }
}

/*---------------------
      Join Us
-----------------------*/
.callto-area {
    background: url(../images/home/home_join_us.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family:"Graduate";
    margin : 2em;
}

.callto-area .call-wrap {
    position: relative;
}

.callto-area h1 {
    color: #fff;
    text-align: center;
}

.callto-area p {
    max-width: 850px;
    color: #fff;
    margin: 30px;
}

.callto-area .overlay-bg {
    background: rgba(0, 0, 0, 0.5);
}

.callto-area .primary-btn:hover {
    background: #fff;
    color: #f6214b;
}

.button {
    padding-bottom : 3em;
}
