.mentionlegal {
    font-family: "Graduate";
    background-image: url("../images/backgroundEBA.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 20px;
}

.mention_title {
    background-color: black;
}

.mentionlegal h2 {
    text-align: center;
    align-content: center;
    color: red;
    padding-top: 50px;
}

.mentionlegal p {
    color: white;
}

.mentionlegal h3 {
    color: red;
}

.mentionlegal_content {
    margin: 20px;
}
