.mentionlegal {
    font-family: "Graduate";
    background-color:$secondary-color;
    padding-bottom: 20px;
    display: grid;
    justify-items: center;
    justify-content: center;
    text-justify:center;
}

.mention_title {
    background-color: black;
}

.mentionlegal h2 {
    text-align: center;
    align-content: center;
    color:#5C821A;
    padding-top: 50px;
}

.mentionlegal p {
    color: white;
}

.mentionlegal h3 {
    color: #5C821A;
}

.mentionlegal_content {
    margin: 20px;
    width : 80%;
}
