.mentionlegal{
    font-family: "Graduate";
    background-image: url("../images/backgroundEBA.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 150px;
}
h2{
    font-size: 5rem;
    text-align: center;
    align-content: center;
    color: red;
    margin-top: 20px;
}
p{
    color: $primary-color;
}
h3{
    color: red;
}