.partner {
    display: flex;
    font-family: "Graduate";
    background-image: url("../images/backgroundEBA.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 150px;
}

.partner_page {
    background-color: black;
}

.partner_page_title {
    color: $primary-color;
}

.partner_deck {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

@media only screen and (min-width: 1140px) {
    .partner_deck {
        padding-top: 125px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.partner_card {
    max-width: 100%;
    margin: 0 auto;
}

.partner_title {
    text-align: center;
}

.partner_image {
    width: 100%;
    height: 500px;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 1140px) {
    .partner_card_image {
        width: 100%;
        height: 500px;
        width: 100%;
        margin: 0 auto;
        transition: transform .5s;
    }

    .partner_card_image:hover {
        position: relative;
        padding-left: 60px;
        padding-right: 60px;
        z-index: 1000;
        transform: scale(1.5);
    }
}

.partner_link {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.partner_edit {
    position: absolute;
    left: 5%;
    cursor: pointer;
    border-radius: 5px;
}

.partner_show {
    position: absolute;
    right: 5%;
    cursor: pointer;
    border-radius: 5px;
}

@media only screen and (min-width: 1140px) {
    .partner_edit {
        visibility: hidden;
    }

    .partner_show {
        visibility: hidden;
    }

    .partner_card_image:hover .partner_edit {
        visibility: visible;
        margin-left: 40px;
        border-radius: 5px;
        
    }

    .partner_card_image:hover .partner_show {
        visibility: visible;
        margin-right: 40px;
        border-radius: 5px;
        
    }
}
