.partner {
    background-color: $secondary-color;
}

.partner_center {
    font-family: "Graduate";
    text-align: center;
    border: 2rem solid;
    background-color: $primary-color;
    font-size: 50px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    box-sizing: border-box;
}

.partner_assos {
    font-family: "Graduate";
    text-align: center;
    border: 1rem solid;
    background-color: $primary-color;
}

.partner_events {
    font-family: "Graduate";
    text-align: center;
    border: 1rem solid;
    background-color: $primary-color;
}