/*---------------------
       Prince
-----------------------*/

.prince {
    min-height: 1500px;
    background: url(../images/prince/prince_boxeur.jpg) fixed;
    background-size: cover;
    font-family: "Graduate";
    padding: 3em;
}

.prince_h1{
    text-align:center;
    color:#fff;
}

.prince_card{
    margin: 5% 0%;
}

.prince_card_body{
    margin: 0% 0% 0% 3%;
    padding: 6% 0%;
}

