/*---------------------
       Register
-----------------------*/
.control_admin {
    font-family:"Graduate";
    background: $secondary-color;
    padding : 4em;
    color : $primary-color;
}

.register_section {
    font-family:"Graduate";
    background: $secondary-color;
    padding : 4em;
    color : $primary-color;
}

.alert {
    font-family:"Graduate";
    padding : 3em;
}


