{% extends 'base.html.twig' %}

{% block title %}Activités{% endblock %}

{% block body %}
<section class="activity">
    <h1 class="activity_h1">Le planning des cours</h1>
    <div class="content">
        <div class="container">

            <div class="row red">
                <div class="blocks-container">
                    <div class="holder">
                        <div class="black-block"></div>
                        <div class="second-block"></div>
                        <div class="block-details row">
                            <div class="col-4 block-number align-self-end">
                                <div class="outer-o">
                                    <div class="inner-o">
                                        <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9 col-md-8 block-description align-self-center">
                                <h2>LUNDI</h2>
                                <p>Description of block Description of block Description of block Description of block Description of block Description of block Description of block Description of block.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row orange">
                <div class="blocks-container">
                    <div class="holder">
                        <div class="black-block"></div>
                        <div class="second-block"></div>
                        <div class="block-details row">
                            <div class="col-4 block-number align-self-end">
                                <div class="outer-o">
                                    <div class="inner-o">
                                        <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9 col-md-8 block-description align-self-center">
                                <h2>MARDI</h2>
                                <p>Description of block Description of block Description of block Description of block Description of block Description of block Description of block Description of block.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row blue">
                <div class="blocks-container">
                    <div class="holder">
                        <div class="black-block"></div>
                        <div class="second-block"></div>
                        <div class="block-details row">
                            <div class="col-4 block-number align-self-end">
                                <div class="outer-o">
                                    <div class="inner-o">
                                        <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9 col-md-8 block-description align-self-center">
                                <h2>MERCREDI</h2>
                                <p>Description of block Description of block Description of block Description of block Description of block Description of block Description of block Description of block.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row green">
                <div class="blocks-container">
                    <div class="holder">
                        <div class="black-block"></div>
                        <div class="second-block"></div>
                        <div class="block-details row">
                            <div class="col-4 block-number align-self-end">
                                <div class="outer-o">
                                    <div class="inner-o">
                                        <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9 col-md-8 block-description align-self-center">
                                <h2>JEUDI</h2>
                                <p>Description of block Description of block Description of block Description of block Description of block Description of block Description of block Description of block.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row purple">
                <div class="blocks-container">
                    <div class="holder">
                        <div class="black-block"></div>
                        <div class="second-block"></div>
                        <div class="block-details row">
                            <div class="col-4 block-number align-self-end">
                                <div class="outer-o">
                                    <div class="inner-o">
                                        <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9 col-md-8 block-description align-self-center">
                                <h2>VENDREDI</h2>
                                <p>Description of block Description of block Description of block Description of block Description of block Description of block Description of block Description of block.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>>
{% endblock %}
