{% extends 'base.html.twig' %}

 {% block body %}
<section class="prince">
    <h1>Vivez l'évenement des Princes du Ring</h1>
        <div class="container-fluid">
            <div class="row justify-content center">
                <div class="hls_sol">
                <ul>
                    <div class="col-sm">
                        <li>
                            <img src="{{ asset('build/prince/prince_2019.png') }}" alt="PDR 2019">
                                <div class="hls_sol_data">
                                    <h2>EDITION 2019</h2>
                                        <div class="hls_data">
                                            <h2>SUIVEZ-NOUS</h2>
                                            <a href="https://fr-fr.facebook.com/Les-Princes-Du-Ring-374987446259787/?ref=page_internal" class="btn btn-primary" target="_blank"> Facebook</a>
                                        </div>
                                </div>
                        </li>
                    </div>
                    <div class="col-sm">
                        <li>
                            <img src="{{ asset('build/prince/prince_2018.jpg') }}" alt="PDR 2018">
                                <div class="hls_sol_data">
                                    <h2>EDITION 2018</h2>
                                        <div class="hls_data">
                                            <h2>SUIVEZ-NOUS</h2>
                                            <a href="https://fr-fr.facebook.com/Les-Princes-Du-Ring-374987446259787/?ref=page_internal" class="btn btn-primary" target="_blank"> Facebook</a>
                                        </div>
                                </div>
                        </li>
                    </div>

                    <div class="col-sm">
                        <li>
                            <img src="{{ asset('build/prince/prince_2017.jpg') }}" alt="PDR 2017">
                            <div class="hls_sol_data">
                                <h2>EDITION 2017</h2>
                                    <div class="hls_data">
                                        <h2>SUIVEZ-NOUS</h2>
                                        <a href="https://fr-fr.facebook.com/Les-Princes-Du-Ring-374987446259787/?ref=page_internal" class="btn btn-primary" target="_blank"> Facebook</a>
                                    </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</section>
 {% endblock %}
