{% extends 'base.html.twig' %}

{% block title %}New Poster{% endblock %}

{% block body %}
    <section class="poster_page_new text-white">
        <div class="poster_show_container container">
            <h1 class="poster_page_new_title">Ajouter une image</h1>

            {{ include('poster/_form.html.twig') }}
            <div class="mt-5">
                <a class="text-white mr-5" href="{{ path('poster_index') }}">Retour</a>
                <a class="text-white" href="{{ path('home_index') }}">Revenir à l'accueil</a>
            </div>

        </div>
    </section>

{% endblock %}
