{% extends 'base.html.twig' %}

{% block title %}Princes du Ring{% endblock %}

 {% block body %}
<section class="prince">
    <h1 class="prince_h1">Vivez l'évenement des Princes du Ring</h1>
    <section id="prince_slider" class="prince_container">
        <ul class="slider-wrapper">
            <li class="current-slide">
                <img src="{{ asset('build/prince/prince_2017.jpg') }}" title="Prince_2017" alt="Prince_2017">
                <div class="caption">
                    <h2 class="slider-title">Edition 2017</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, placeat est. Alias illo hic quo nobis, aspernatur iste ut voluptate.</p>
                </div>
            </li>

            <li>
                <img src="{{ asset('build/prince/prince_2018.jpg') }}" title="Prince_2018" alt="Prince_2018">
                <div class="caption">
                    <h2 class="slider-title">Edition 2018</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo iusto placeat aliquid tempore harum, similique!</p>
                </div>
            </li>

            <li>
                <img src="{{ asset('build/prince/prince_2019.png') }}" title="Prince_2019" alt="Prince_2019">
                <div class="caption">
                    <h2 class="slider-title">Edition 2019</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dicta laudantium voluptatem minima! Dolorum tempore dolores excepturi omnis provident. Commodi quis aperiam maiores, dolore a perferendis!</p>
                </div>
            </li>

            <li>
                <img src="http://i9.photobucket.com/albums/a88/creaticode/3_zps70e4fcc5.jpg" title="" alt="">
                <div class="caption">
                    <h2 class="slider-title">Desarrollo Web</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolore dignissimos laudantium.</p>
                </div>
            </li>
        </ul>

        <div class="slider-shadow"></div>

        <ul id="control-buttons" class="control-buttons"></ul>
    </section>
</section>
 {% endblock %}
