{% extends 'base.html.twig' %}

{% block title %}Princes du Ring{% endblock %}

 {% block body %}
<section class="prince">
    <h1 class="prince_h1">Vivez l'évenement des Princes du Ring</h1>
    <div class="container">
        <!-- Card deck -->
        <div class="card-deck row">

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="prince_card card mb-4">
                    <div class="view overlay">
                        <img class="card-img-top" src="{{ asset('build/prince/prince_2017.jpg') }}" alt="Prince_2017">
                    </div>
                    <div class="prince_card_body card-body text-center">
                        <h4 class="card-title">EDITION 2017</h4>
                        <a target="_blank" href="https://www.facebook.com/Les-Princes-Du-Ring-374987446259787/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Suivez-nous !</a>
                    </div>
                </div>
                <!-- Card -->
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="prince_card card mb-4">
                    <div class="view overlay">
                        <img class="card-img-top" src="{{ asset('build/prince/prince_2018.jpg') }}" alt="Prince_2018">
                    </div>
                    <div class="prince_card_body card-body text-center">
                        <h4 class="card-title">EDITION 2018</h4>
                        <a target="_blank" href="https://www.facebook.com/Les-Princes-Du-Ring-374987446259787/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Suivez-nous !</a>
                    </div>
                </div>
                <!-- Card -->
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="prince_card card mb-4">
                    <div class="view overlay">
                        <img class="card-img-top" src="{{ asset('build/prince/prince_2019.png') }}" alt="Prince_2019">
                    </div>
                    <div class="prince_card_body card-body text-center">
                        <h4 class="card-title">EDITION 2019</h4>
                        <a target="_blank" href="https://www.facebook.com/Les-Princes-Du-Ring-374987446259787/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Suivez-nous !</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
        </div>
        <!-- Card deck -->
    </div>
</section>
 {% endblock %}



