{% extends 'base.html.twig' %}

{% block title %}Hall of Fame{% endblock %}

{% block body %}
<section class="hall_section">
    <h1><i class="fa fa-star" aria-hidden="true"></i>Hall of fame<i class="fa fa-star" aria-hidden="true"></i></h1>
    <div class="project_card row justify-content-around">
    </div>

    <section class="team_member section_padding padding_less_40">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="single_team_member single-home-blog">
                        <div class="card">
                            <img src="{{ asset('build/hall_of_fame/boxeur_1.jpg') }}" class="card-img-top" alt="blog">
                            <div class="card-body">
                                <div class="tean_content">
                                    <a href="#" class="blog_item_date">
                                        <h3><i class="fa fa-star"></i></h3>
                                    </a>
                                    <a href="blog.html">
                                        <h5 class="card-title">Rocky Benard</h5>
                                    </a>
                                    <p>Right Defender</p>
                                </div>
                                <div class="tean_right_content">
                                    <div class="header_social_icon">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li>
                                                <a href="#"> <i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="single_team_member single-home-blog">
                        <div class="card">
                            <img src="{{ asset('build/hall_of_fame/boxeur_1.jpg') }}" class="card-img-top" alt="blog">
                            <div class="card-body">
                                <div class="tean_content">
                                    <a href="#" class="blog_item_date">
                                        <h3>15</h3>
                                    </a>
                                    <a href="blog.html">
                                        <h5 class="card-title">Adult Malerd</h5>
                                    </a>
                                    <p>Right Defender</p>
                                </div>
                                <div class="tean_right_content">
                                    <div class="header_social_icon">
                                        <ul>
                                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                                            <li>
                                                <a href="#"> <i class="ti-twitter"></i></a>
                                            </li>
                                            <li><a href="#"><i class="ti-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="single_team_member single-home-blog">
                        <div class="card">
                            <img src="{{ asset('build/hall_of_fame/boxeur_1.jpg') }}" class="card-img-top" alt="blog">
                            <div class="card-body">
                                <div class="tean_content">
                                    <a href="#" class="blog_item_date">
                                        <h3>15</h3>
                                    </a>
                                    <a href="blog.html">
                                        <h5 class="card-title">Rocky Benard</h5>
                                    </a>
                                    <p>Right Defender</p>
                                </div>
                                <div class="tean_right_content">
                                    <div class="header_social_icon">
                                        <ul>
                                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                                            <li>
                                                <a href="#"> <i class="ti-twitter"></i></a>
                                            </li>
                                            <li><a href="#"><i class="ti-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}
